.register {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 24px;
  width: 300px;
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--background-opposite);
    padding: 10px 28px;
    border-radius: 48px;
    border: 2px solid var(--background-opposite);
    cursor: pointer;

    span {
      padding-left: 12px;
      font-size: 1rem;
    }
  }
}