.already-has-account {
  margin: 20px 0 40px;
  
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--heading);
    text-align: center;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--background-opposite);
    width: 300px;
    padding: 15px;
    border-radius: 48px;
    border: 2px solid var(--background-opposite);
    margin-top: 10px;
    cursor: pointer;
    span {
      font-size: 1rem;
      color: var(--color-heading);
    }
  }
}
