.word {
  // height: 40px;

  .title, .slogan {
    font-size: 2.5rem;
    line-height: 2.8rem;
    color: var(--heading);
  }

  .slogan {
    font-weight: bold;
    height: 48px;
  }

  .subtitle {
    color: var(--heading-soft)
  }
}