.squares-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  border-radius: 15px;
  border: 1px solid var(--white);
  box-shadow: var(--box-shadow);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  .lds-bouncing-squares {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 80px;

    .square {
      width: 16px;
      height: 16px;
      background-color: var(--primary);
      animation: bounce 0.6s infinite alternate;
    }

    .square:nth-child(1) {
      animation-delay: -0.4s;
    }

    .square:nth-child(2) {
      animation-delay: -0.2s;
    }

    .square:nth-child(3) {
      animation-delay: 0s;
    }

    @keyframes bounce {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-20px);
      }
    }
  }
}